<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text = "${titulo}"></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<h1 th:text = "${titulo}"></h1>
<div class="table-responsive">
	<table class="table table-bordered text-center">
		<thead>
			<tr class="bg-secondary text-white">
				<th>Id</th>
				<th>User Id</th>
				<th>Registro (Fecha/Hora)</th>
				<th>Movimiento</th>
			</tr>
		<thead>
		<tbody>
			<tr th:each="assistance: ${assistances}">
				<td th:text = "${assistance.id}"></td>
				<td th:text = "${assistance.user.id}"></td>
				<td th:text = "${#temporals.format(assistance.accessAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
				<!--  td th:text = "${assistance.accessAt}"></td> -->
				<td th:text = "${assistance.movimiento}"></td>
			</tr>
		</tbody>
	</table>
</div>		
</body>
</html>