<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text = "${titulo}"></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid bg-white">
	<div class="row bg-light">
		<h1 th:text = "${titulo}"></h1>
	</div>
	<div class="container bg-light">
		<div class="row bg-white">
			<div class="table-responsive bg-white">
				<input id="add" name="add" type="image" src = "/../img/icons/boton-agregar.png" align="right"></input>
				<div id="adduser">
					<form id="add-user-form" name="add-user-form" class="form-horizontal">
						<fieldset>
						<legend>Add user</legend>
							<div class="form-group row justify-content-center">
								<label class="col-sm-2 col-form-label" for="cardnumber">Card number</label>
								<div class="col-md-8">
									<input id="cardnumber" name="cardnumber" type="text" class="form-control input-md" placeholder="Insert card number" required=""></input>
								</div>
							</div>
							<div class="form-group row justify-content-center">
								<label class="col-sm-2 col-form-label" for="submit">Options</label>
								<div class="col-md-8">
									<button id="submit" name="submit" class="btn btn-success">Add</button>
									<button id="reset" name="reset" class="btn btn-danger">Reset</button>
								</div>
							</div>
						</fieldset>				
					</form>
				</div>
				<table class="table table-bordered text-center">
					<thead>
						<tr class="bg-secondary text-white">
							<th>Id</th>
							<th>User Id</th>
							<th>Registro (Fecha/Hora)</th>
							<th>Movimiento</th>
						</tr>
					</thead>
					<tbody id="grid-data">
					<!--
						<tr th:each="assistance: ${assistances}">
							<td th:text = "${assistance.id}"></td>
							<td th:text = "${assistance.user.id}"></td>
							<td th:text = "${#temporals.format(assistance.accessAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text = "${assistance.movimiento}"></td>
						</tr>
						-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid bg-secondary">
	<div id ="hola" class="invisible">		
		<p>holaaaaaaaaa</p>
	</div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="../js/assistance.js"></script>
<script type="text/javascript">
	$("#adduser").hide();
	$("#add-user-form").css({"border":"1px solid #CACFD2"});
	$(document).ready(function() {
		$("#add").click(function() { 
			$("#adduser").toggle();
		}); 
	}); 
</script-->

</body>
</html>