<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text = "${titulo}"></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#"><h1 th:text = "${titulo}"></h1></a>
  	</nav>
</div>
<div class="container bg-light">
	<div class="row bg-white">
		<div class="table-responsive">
			<div id="container-message-success" class="form-group row" style="display:none">
					<div id="message-success" class="alert alert-success alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  						<span aria-hidden="true">&times;</span>
					</button>
					</div>
			</div>
			<div id="container-message-error" class="form-group row" style="display:none">
					<div id="message-error" class="alert alert-danger alert-dismissible fade show" role="alert">
					</div>					
			</div>
			<input id="add" name="add" type="image" src = "../../img/icons/boton-agregar.png" align="right"></input>
			<div id="adduser">
				<form id="add-user-form" name="add-user-form" class="form-horizontal">
					<fieldset>
					<legend>Add user</legend>
						<div class="form-group row justify-content-center">
							<label class="col-sm-2 col-form-label" for="cardNumber">Card number</label>
							<div class="col-md-8">
								<input id="cardNumber" name="cardNumber" type="text" class="form-control input-md" placeholder="Insert card number" minlength="8" maxlength="8" required="true" pattern="[0-9]{8}"></input>
							</div>
						</div>
						<div class="form-group row justify-content-center">
							<label class="col-sm-2 col-form-label" for="submit">Options</label>
							<div class="col-md-8">
								<button id="submit" name="submit" type="submit" class="btn btn-success">Add</button>
								<button id="reset" name="reset" type="reset" class="btn btn-danger">Reset</button>
							</div>
						</div>
					</fieldset>				
				</form>
			</div>
			<table class="table table-bordered text-center">
				<thead>
					<tr class="bg-secondary text-white">
						<th>Id</th>
						<th>Card Number</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody id="grid-data">				
				</tbody>
				<!-- tbody>
					<tr th:each="user: ${users}">
						<td th:text = "${user.id}"></td>
						<td th:text = "${user.cardNumber}"></td>
					</tr>
				</tbody> -->
			</table>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="../../js/users.js"></script>	
</body>
</html>